<div *ngFor="let stationControl of connectedStations.controls; let i = index; trackBy: trackByIndex"
     class="connected-station-group">
  <mat-form-field class="w-75">
    <mat-label>Select Station</mat-label>
    <mat-select [formControl]="asFormControl(stationControl)"
                (selectionChange)="onStationSelect($event.value, i)">
      <mat-option *ngFor="let station of stationsList; trackBy: trackByStationId"
                  [value]="station.id">
        {{ station.city }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-icon-button
          color="warn"
          type="button"
          (click)="removeConnectedStation(i)">
    <mat-icon>close</mat-icon>
  </button>
</div>