<div class="container">
  @if (_routes$ | async; as ride) {
    <div class="header">
      <button type="button" mat-icon-button (click)="_handleBack()">
        <mat-icon>keyboard_backspace</mat-icon>
      </button>
      <span class="header__title">Route: {{ ride.id }}</span>
    </div>

    <button mat-stroked-button class="button" type="button">Create Ride</button>

    @for (schedule of ride.schedule; track schedule.rideId) {
      <app-ride [ride]="ride" [schedule]="schedule"/>
    }
  }
</div>
