@import "vars";

.example-card {
  width: 100%;
  border-radius: 1.25rem;
  overflow: hidden;
  margin-bottom: 0.7rem;
}


.card-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: .3rem 1rem;
  height: 3.125rem;

  .actions {
    gap: 1rem;
  }

  .header-button {
    background-color: initial;
    color: $text-color;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    padding: .1rem .2rem;
    transition: color 0.3s ease 0s;
  }

  .header-button:hover {
    transition: color 0.3s ease 0s;
    //color: $text-color-hover;
  }
}

.list {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  user-select: none;

  div:not(:first-child):before {
    content: '-';
    padding: 0 0.625rem;
  }
}

.list-footer {
  color: $text-secondary-color;
}

.content {
  padding: 1rem;
}

.icon {
  width: 20px;
  height: 20px;
}

.bold {
  font-weight: bold;
}


.card-footer {
  padding: .3rem 1rem;
}
