.container {
  max-width: 62.5rem;
  padding: 0 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  margin-top: 1.875rem;
  margin-bottom: 1.875rem;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 1rem;

  &__city {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 1.5rem;
    font-weight: bold;
  }

  &__title {
    display: flex;
    gap: 20px;
    padding-left: 20px;
    font-size: 1.5rem;
    font-weight: bold;
  }
}

.block-buttons {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.button {
  outline: none;
}

.button-back {
  background-color: #eeeded;
}

.additional-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 1rem;
  font-weight: bold;
}

.available-seats {
  border: 1px solid #d6cfcf;
  border-radius: 10px;
  padding: 3px 5px;
  background-color: #d6cfcf;
}
