:host {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(to right, lightgrey 0%, lightgrey 1%, #e0e0e0 26%, #efefef 48%, #d9d9d9 75%, #bcbcbc 100%);

  mat-card-title {
    font-size: 30px;
    font-weight: 700;
    color: #3f51b5;
  }
}
