<form (ngSubmit)="_submit()" [formGroup]="_form">
  <h2 mat-dialog-title>Create Route</h2>
  <mat-dialog-content class="content">
    <div class="grid-title" formArrayName="cities">
      <p class="title">Stations</p>

      @if (_cities().length) {
        @for (path of _form.controls.cities.controls; track path; let index = $index) {

          <div class="item">
            <mat-form-field class="field">
              <mat-select [formControl]="asFormControl(path)" [placeholder]="_route().path[index]  | transformRideCity: _cities()">
                @for (p of _route().path; track p) {
                  <mat-option [value]="p">{{ p | transformRideCity: _cities() }}</mat-option>
                }
              </mat-select>
            </mat-form-field>
          </div>
        }
      }


      <div class="item">
        <mat-form-field class="field">
          <mat-label>Select Station</mat-label>
          <mat-select>
            <mat-option value="City 33">City 33</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>


    <div class="grid-title">
      <p class="title">Carriages</p>

      @for (carriages of _form.controls.carriages.controls; track carriages; let index = $index) {

        <div class="item">
          <mat-form-field class="field">
            <mat-select [formControl]="asFormControl(carriages)" [placeholder]="_route().carriages[index]">
              @for (p of _route().carriages; track p) {
                <mat-option [value]="p">{{ p }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        </div>
      }

      <mat-form-field class="field">
        <mat-label>Select Carriages</mat-label>
        <mat-select>
          <mat-option value="City 33">City 33</mat-option>
        </mat-select>
      </mat-form-field>

    </div>


  </mat-dialog-content>


  <mat-dialog-actions class="block-buttons">
    <button (click)="onNoClick()" color="accent" mat-raised-button type="button">Cancel</button>
    <!--  <button [mat-dialog-close]="animal()" cdkMonitorSubtreeFocus mat-button type="button">Save</button>-->
    <button cdkMonitorSubtreeFocus color="primary" mat-raised-button type="submit">Save</button>
  </mat-dialog-actions>

</form>