.progress-wrapper {
  position: absolute;
  background: rgba(255, 255, 255, 0.6);
  top: 60%;
  left: 47%;
}

mat-card {
  width: 35%;
  @media screen and (max-width: 768px) {
    width: 80%;
  }
}

.top-abs-0 {
  position: absolute;
  top: 18rem;
  left: 1.5rem;
}

.top-abs-1 {
  position: absolute;
  top: 7.5rem;
  left: 1.5rem;
}