<mat-card class="mb-3 h-50 w-50 mx-auto">
  <mat-card-header class="mb-3">
    <mat-card-title>Sign In</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="saveForm()">
      <mat-form-field class="w-100">
        <mat-label>Email</mat-label>
        <input type="url" matInput [formControl]="form.controls.email" />
      </mat-form-field>

      <mat-form-field class="w-100">
        <mat-label>Password</mat-label>
        <input type="url" matInput [formControl]="form.controls.password" />
      </mat-form-field>

      <button
        class="mr-2 toolbar-button"
        type="submit"
        mat-raised-button
        color="primary"
        matTooltip="Sign In"
        test-locator-name="home-card-save-button"
      >
        Sign In
      </button>

      <button
        class="mr-2 toolbar-button"
        type="button"
        mat-raised-button
        color="secondary"
        matTooltip="Sign Up"
        test-locator-name="home-card-save-button"
        (click)="signup()"
      >
        Sign Up
      </button>
      <button
        class="mr-2 toolbar-button"
        type="button"
        mat-raised-button
        test-locator-name="home-card-save-button"
        (click)="admin()"
      >
        Admin
      </button>
    </form>
    <mat-card-footer>
      @if (isError()) {
        <div class="alert alert-warning">
          <mat-icon class="home-table-icon" color="attention">warning</mat-icon>
          <strong>{{ isError() }}</strong>
        </div>
      }
    </mat-card-footer>
  </mat-card-content>
</mat-card>
