.stations-map {
  display: flex;
  flex-direction: column;
}

.map-container {
  border: 2px solid red; //  временную границу для проверки размеров
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
