<mat-card appearance="outlined" class="card">
  <mat-card-header class="card-header">
    <mat-card-title class="bold">Ride {{ schedule().rideId }}</mat-card-title>
  </mat-card-header>

  <mat-card-content class="content">

    <mat-grid-list cols="3" rowHeight="2:1">
      @if (_city()) {
        @for (path of ride().path; track path; let index = $index) {
          <div class="item__wrapper" appColoredStroke [item]="index">
            <div class="item__path">
              {{ path | transformRideCity: _city() }}
            </div>

            <div class="item__time-wrapper">
              <div class="item__time">
                @if (index <= schedule().segments.length) {
                  @if (index === 0) {
                    <span>Departure:
                      <input class="input-time" disabled [value]="schedule().segments[index].time[0] | transformDate">
                      <input class="input-time" disabled [value]="schedule().segments[index].time[0] | transformTime">
                    </span>
                  } @else if (index === schedule().segments.length) {
                    <span>Arrival:
                      <input class="input-time" disabled [value]="schedule().segments[index - 1].time[1] | transformDate">
                      <input class="input-time" disabled [value]="schedule().segments[index - 1].time[1] | transformTime">
                    </span>
                  } @else {
                    <span>Arrival:
                      <input class="input-time" disabled [value]="schedule().segments[index - 1].time[1] | transformDate">
                      <input class="input-time" disabled [value]="schedule().segments[index - 1].time[1] | transformTime">
                    </span>
                    <span>Departure:
                      <input class="input-time" disabled [value]="schedule().segments[index].time[0] | transformDate">
                      <input class="input-time" disabled [value]="schedule().segments[index].time[0] | transformTime">
                    </span>
                  }
                }
              </div>


              <button type="button" mat-mini-fab class="item__button" (click)="_handleChangeDate(path, $event)">
                <mat-icon class="icon">edit_square</mat-icon>
              </button>

              <!--              <mat-form-field>-->
              <!-- Date range picker -->
              <!--                <mat-date-range-input [rangePicker]="datepicker">-->
              <!--                  <input matStartDate placeholder="Start date">-->
              <!--                  <input matEndDate placeholder="End date">-->
              <!--                </mat-date-range-input>-->

              <!--                <input matInput placeholder="Start date">-->
              <!--                <input matInput type="datetime-local" placeholder="start date" [matDatepicker]="datepicker">-->


              <!--                <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>-->

              <!--                <mat-datepicker #datepicker></mat-datepicker>-->
              <!--              </mat-form-field>-->

              <!--              <mat-form-field>-->
              <!--                <mat-label>Дата и время</mat-label>-->
              <!--                &lt;!&ndash;                <input matInput [matDatepicker]="picker">&ndash;&gt;-->
              <!--                <input type="time" matInput name="week" min="09:00" max="18:00" [matDatepicker]="picker">-->
              <!--                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>-->
              <!--                <mat-datepicker type="time" #picker></mat-datepicker>-->
              <!--              </mat-form-field>-->
            </div>

            <div class="item__price">
              @if (index < schedule().segments.length) {
                <div class="price__list">

                  @for (price of schedule().segments[index].price | keyvalue; track price) {
                    <div class="price__item">
                      <span>{{ price.key }} :</span>
                    </div>
                    <div class="price__item">
                      {{ price.value }}
                    </div>
                  }
                </div>
              }
            </div>

          </div>

        }
      }


    </mat-grid-list>


  </mat-card-content>

</mat-card>
