.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bold {
  font-weight: bold;
}

.delete-button {
  border: none;
  outline: none;
  background-color: initial;

  .svg {
    color: #f44336;
  }
}


