<section class="stations-list">
  <h2 class="list-title visually-hidden">List of Stations</h2>
  <div *ngFor="let station of stations; trackBy: trackByStationId"
       class="station-card">
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{ station.city }}</mat-card-title>
        <mat-card-subtitle>{{ station.latitude }}, {{ station.longitude }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p><strong>Connected to:</strong></p>
        <mat-list class="inline-list">
          <!-- Перебор только тех маршрутов, которые связаны с текущей станцией -->
          <ng-container *ngFor="let route of getRoutesForStation(station); trackBy: trackByModifiedRouteId">
            <!-- Перебор станций в маршруте -->
            <mat-list-item class="inline-lists"
                           *ngFor="let city of route.path; trackBy: trackByStationId">
              <span>{{ city.city }}</span>
            </mat-list-item>
          </ng-container>
        </mat-list>
      </mat-card-content>
      <mat-card-actions>
        <button mat-icon-button
                color="warn"
                type="button">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</section>