@import 'vars';

.field {
  width: 100%;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 2rem;
}

.grid-title {
  width: 100%;
}

.title {
  font-size: 1rem;
  font-weight: bold;
}

.delete-button {
  background-color: initial;
  outline: none;
  border: none;
  color: $error;
  transform: translateY(-10px);
}

.item {
  display: flex;
  align-items: center;
  gap: .5rem;

  width: 100%;
}
