<form (ngSubmit)="_submit()" [formGroup]="_form">
  <h2 mat-dialog-title>Create Route</h2>
  <mat-dialog-content class="content">


    <div class="grid-title">
      <p class="title">Stations</p>

      @for (control of _formCities.controls; track control; let index = $index) {


        <div class="item">
          <mat-form-field class="field">
            <mat-label>City</mat-label>
            <!--            <mat-select [formGroup]="getFormGroup(control)">-->
            <!--              @for (p of _route().path; track p) {-->
            <!--                <mat-option [value]="p.city">{{ p.city }}</mat-option>-->
            <!--              }-->
            <!--            </mat-select>-->

            <input [formControl]="getFormGroup(control)">
          </mat-form-field>

          @if (index === (_route().path.length - 1)) {
            <button class="delete-button" type="button">
              <mat-icon>delete_forever</mat-icon>
            </button>
          }

        </div>


      }


      <div class="item">
        <mat-form-field class="field">
          <mat-label>Select Station</mat-label>
          <mat-select>
            <mat-option value="City 33">City 33</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>


    <div class="grid-title">
      <p class="title">Carriages</p>

      <mat-form-field class="field">
        <mat-label>Select Carriages</mat-label>
        <mat-select>
          <mat-option value="City 33">City 33</mat-option>
        </mat-select>
      </mat-form-field>

    </div>


  </mat-dialog-content>


  <mat-dialog-actions>
    <button (click)="onNoClick()" mat-button type="button">Cancel</button>
    <!--  <button [mat-dialog-close]="animal()" cdkMonitorSubtreeFocus mat-button type="button">Save</button>-->
    <button cdkMonitorSubtreeFocus mat-button type="submit">Save</button>
  </mat-dialog-actions>

</form>