<!--
Any logo can be added. -->
<header>
  <mat-toolbar color="primary">
    <a [routerLink]="['']"
      mat-button>
      <mat-icon aria-hidden="false"
        aria-label="Example home icon"
        fontIcon="home"></mat-icon>
      Home
    </a>

    <div class="spacer"></div>

    <button type="button" mat-button [matMenuTriggerFor]="menu">Pages</button>
    <mat-menu #menu="matMenu">
      <button type="button" mat-menu-item [routerLink]="['/signin']">LoginComponent</button>
      <button type="button" mat-menu-item [routerLink]="['/admin']">AdminComponent</button>
      <button type="button" mat-menu-item [routerLink]="['/signup']">RegistrationComponent</button>
      <button type="button" mat-menu-item [routerLink]="['/profile']">UserProfileComponent</button>
      <button type="button" mat-menu-item [routerLink]="['']">SearchComponent</button>
      <button type="button" mat-menu-item [routerLink]="['/trip']">TripDetailsComponent</button>
      <button type="button" mat-menu-item [routerLink]="['/orders']">OrderComponent</button>
      <button type="button" mat-menu-item [routerLink]="['/admin/stations']">StationsManagementComponent</button>
      <button type="button" mat-menu-item [routerLink]="['/admin/carriages']">CarriagesCarsComponent</button>
      <button type="button" mat-menu-item [routerLink]="['/admin/routes']">RouteManagementComponent</button>
      <button type="button" mat-menu-item [routerLink]="['/admin/routes/{id}']">RideManagementComponent</button>
      <button type="button" mat-menu-item [routerLink]="['/error']">NotFoundComponent</button>
    </mat-menu>

    <div class="spacer"></div>

    @if (!_auth.userName()) {
    <a [routerLink]="['/signin']"
      mat-button>Sign In</a>

    <a [routerLink]="['/signup']"
      mat-raised-button
      color="accent">Sign Up</a>
    }

    @if (_auth.userName() && !_auth.isAdmin()) {
    <button type="button"
      mat-button
      [matMenuTriggerFor]="user">
      <mat-icon aria-hidden="false"
        aria-label="Example home icon"
        fontIcon="account_circle">
      </mat-icon>
      {{_auth.userName()}}
    </button>
    <mat-menu #user="matMenu">
      <button [routerLink]="['/profile']"
        type="button"
        mat-menu-item>
        Profile
      </button>

      <button [routerLink]="['/orders']"
        type="button"
        mat-menu-item>
        My Orders
      </button>
    </mat-menu>
    }

    @if (_auth.isAdmin()) {
    <button type="button"
      mat-button
      [matMenuTriggerFor]="admin">
      Admin
    </button>
    <mat-menu #admin="matMenu">
      <button [routerLink]="['/admin']"
        type="button"
        mat-menu-item>
        Admin
      </button>

      <button [routerLink]="['/profile']"
        type="button"
        mat-menu-item>
        Profile
      </button>

      <button [routerLink]="['/orders']"
        type="button"
        mat-menu-item>
        Orders
      </button>
    </mat-menu>
    }
  </mat-toolbar>
</header>