.spacer {
  flex: 1 1 auto;
}

a.home-hover-header {
  position: relative;
  text-decoration: none;

  &::before {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 0;
    transform: scaleX(0);
    width: 90%;
    height: 2px;
    background-color: #ffd700;
    transition: transform 0.5s ease;
  }

  @media (any-hover: hover) {
    &:hover::before {
      transform: scaleX(1);
    }
  }
}
