<app-header></app-header>
<nav>
  <ul>
    <li><a routerLink="['']">LoginComponent</a></li>
    <li><a routerLink="/admin">AdminComponent</a></li>
    <li><a routerLink="/registration">RegistrationComponent</a></li>
    <li><a routerLink="/user">UserProfileComponent</a></li>
    <li><a routerLink="/search">SearchComponent</a></li>
    <li><a routerLink="/trip">TripDetailsComponent</a></li>
    <li><a routerLink="/order">OrderComponent</a></li>
    <li><a routerLink="/stations">StationsManagementComponent</a></li>
    <li><a routerLink="/carriages">CarriagesCarsComponent</a></li>
    <li><a routerLink="/route">RouteManagementComponent</a></li>
    <li><a routerLink="/ride">RideManagementComponent</a></li>
    <li><a routerLink="/error">NotFoundComponent</a></li>
  </ul>
</nav>
<router-outlet></router-outlet>
