<app-header></app-header>
<nav>
  <ul>
    <li><a routerLink="/signin">LoginComponent</a></li>
    <li><a routerLink="/admin">AdminComponent</a></li>
    <li><a routerLink="/signup">RegistrationComponent</a></li>
    <li><a routerLink="/profile">UserProfileComponent</a></li>
    <li><a routerLink="">SearchComponent</a></li>
    <li><a routerLink="/trip">TripDetailsComponent</a></li>
    <li><a routerLink="/orders">OrderComponent</a></li>
    <li><a routerLink="/admin/stations">StationsManagementComponent</a></li>
    <li><a routerLink="/admin/carriages">CarriagesCarsComponent</a></li>
    <li><a routerLink="/admin/routes">RouteManagementComponent</a></li>
    <li><a routerLink="/admin/routes/{id}">RideManagementComponent</a></li>
    <li><a routerLink="/error">NotFoundComponent</a></li>
  </ul>
</nav>
<router-outlet></router-outlet>
