.main-station-container {
  display: flex;
  flex-direction: column;
  padding: 50px;
}

.stations-place {
  display: flex;
  justify-content: space-between;
  //align-items: stretch;
  gap: 20px;

  & .station-form {
    flex: 1 1 50%; // flex-grow: 1, flex-shrink: 1, flex-basis: 50%
    min-width: 0; // избежать переполнения по ширине
  }
  & .station-map {
    flex: 1 1 50%;
    min-width: 0;
  }
}

.station-title {
  &:not(:last-child) {
    margin-bottom: 30px;
  }
}
