<form (ngSubmit)="_submit()" [formGroup]="_form">
  <h2 mat-dialog-title>Update Time</h2>
  <mat-dialog-content class="content">

    @if (_arrival()) {
      <div class="inputs">
        <mat-form-field class="field" cdkMonitorSubtreeFocus>
          <mat-label>Arrival date:</mat-label>
          <input [formControl]="_form.controls.departureDate" type="date" matInput/>
        </mat-form-field>
        <mat-form-field class="field" cdkMonitorSubtreeFocus>
          <mat-label>Arrival time:</mat-label>
          <input [formControl]="_form.controls.departureTime" type="time" matInput/>
        </mat-form-field>
      </div>
    }


    @if (_departure()) {

      <div class="inputs">
        <mat-form-field class="field" cdkMonitorSubtreeFocus>
          <mat-label>Departure date:</mat-label>
          <input [formControl]="_form.controls.departureDate" type="date" matInput/>
        </mat-form-field>
        <mat-form-field class="field" cdkMonitorSubtreeFocus>
          <mat-label>Departure time:</mat-label>
          <input [formControl]="_form.controls.departureTime" type="time" matInput/>
        </mat-form-field>
      </div>

    }


  </mat-dialog-content>


  <mat-dialog-actions class="block-buttons">
    <button (click)="onNoClick()" color="accent" mat-raised-button type="button">Cancel</button>
    <button cdkMonitorSubtreeFocus color="primary" mat-raised-button type="submit">Save</button>
  </mat-dialog-actions>

</form>
