/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

.mat-mdc-autocomplete-panel {
  &::-webkit-scrollbar {
    width: 0.25rem;
  }

  &::-webkit-scrollbar-track {
    background-color: #bcbcbc;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #1b3487;
  }

}
